@{
    Layout = "_Layout";
}


<h1 class="jumbotron">Epicodus Best Restaurants</h1>
<div class="card">
    <div class="card-body">

    </div>
</div>
<div class="card">
    <div class="card-body">
    
    </div>
</div>
<p>@Html.ActionLink("See all restaurants", "Index", "Restaurants") </p> 

