@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Cuisine;
@using BestRestaurants.Models;

<h2>Restaurant list of the Cuisine</h2>
<hr />
<ul>
@foreach (Restaurant restaurant in ViewBag.restaurantOfCuisine)
{
    <li>@Html.ActionLink($"{restaurant.Description}", "Details", "Restaurant", new { id = restaurant.RestaurantId})</li>
}
</ul>
<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>
<p>@Html.ActionLink("Add a cuisine", "Create")</p>

