@using BestRestaurants.Models
@model List<BestRestaurants.Models.Cuisine>;
@{
    Layout = "_Layout";
}

<h1>List of Cuisine</h1>

@if (@Model.Count == 0)
{
    <p>There are no Cuisines in the list</p>
}

@foreach(Cuisine cuisine in Model)
{
    <li>@Html.ActionLink($"{cuisine.Name}", "Details", new { id = cuisine.CuisineId })</li>
}

<p>@Html.ActionLink("Home", "Index", "Home")</p>

