@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Restaurant

<h2> Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)<h3>
<p>@Html.ActionLink("Back to list", "Index")</p>