@{
    Layout = "_Layout";
}


<h1 class="jumbotron">Epicodus Animal Shelter</h1>
<div class="card">
    <div class="card-body">
        <p>@Html.ActionLink("Back to list", "Index", "Pets")</p>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <p>@Html.ActionLink("Add more Animals", "Create", "Pets")</p>
    </div>
</div>


